<section id="authBlock">
  <article class="col-md-3 mx-auto bg-white card my-4">
    <h2
      class="h2 font-weight-bold text-secondary text-uppercase py-2"
    >Register</h2>
    <form action="/auth/register" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          placeholder="Enter a username"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="Enter email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          name="password1"
          id="confirmPassword"
          class="form-control"
          placeholder="Confirm password"
        />
      </div>

      <div class="form-group">
          <button class="form-control btn-info">
              Register
          </button>
      </div>
    </form>
  </article>
</section>